# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


.DS_Store
cloudgrep
bin
tmp/
__debug_bin

# visual studio
.vscode
.idea

# local config
.config/
local

# Terraform; source https://github.com/github/gitignore/blob/main/Terraform.gitignore
**/.terraform/*
*.tfstate
*.tfstate.*
tf.plan
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*tfplan*
.terraformrc
terraform.rc

# ignore sqlite db files
*.db
# except for the demo DB which is committed
!demo/demo.db
!demo/setup/original-dump.db

