package {{.Package }}

{{- with .Imports }}
import (
{{- range . }}
{{ include "import" . | tabindent 1 }}

{{- end }}
)
{{- end }}

{{- define "import" }}
{{- range . }}
{{- if .As }}
{{ .As }} "{{ .Path }}"
{{- else }}
"{{ .Path }}"
{{- end }}
{{- end }}
{{- end }}
