{{- define "handleErr" }}
if err != nil {
	return fmt.Errorf("failed to fetch %s: %w", {{ . | quote }}, err)
}
{{- end }}

{{- define "output" }}
{{- if .IsLast }}
if err := resourceconverter.{{ .Data.ConvertCall }}(ctx, output, resourceConverter, {{ .IterVar }}.{{ .Current }} {{- .Data.ConvertTail }}); err != nil {
	return err
}
{{- else }}
for _, {{ .NextIterVar }} := range {{ .IterVar }}.{{ .Current }} {
	{{- tabindent 1 (include "output" .Next) }}
}
{{- end }}
{{- end }}

func (p *{{ .ProviderName}}) {{ .FuncName }}(ctx context.Context, output chan<- model.Resource) error {
	client := {{ .ServicePkg }}.NewFromConfig(p.config)
	input := &{{ .ServicePkg }}.{{ .APIAction }}Input{}

	resourceConverter := p.converterFor({{ .ResourceName | quote }})

	{{- $convertCall := "SendAllConverted" }}
	{{- $convertTail := "" }}

	{{- if .TagFuncName }}
		{{- $convertCall = "SendAllConvertedTags" }}
		{{- $convertTail = (cat ", p." .TagFuncName) }}
	{{- end }}

	{{- quiet (.OutputKey.SetData "ConvertCall" $convertCall) }}
	{{- quiet (.OutputKey.SetData "ConvertTail" $convertTail) }}

	{{- if .Paginated }}
	paginator := {{ .ServicePkg }}.New{{ .APIAction }}Paginator(client, input)
	for paginator.HasMorePages() {
		page, err := paginator.NextPage(ctx)
		{{ include "handleErr" .ResourceName | tabindent 2 }}

		{{ include "output" (.OutputKey.WithRoot "page") | tabindent 2 }}
	}
	{{- else }}
	results, err := client.{{ .APIAction }}(ctx, input)
	{{- include "handleErr" .ResourceName | tabindent 1 }}

	{{- include "output" (.OutputKey.WithRoot "results") | tabindent 1 }}
	{{- end }}

	return nil
}
