func (p *{{ .ProviderName }}) {{ .FuncName }}(mapping map[string]mapper) {
	{{- range .Types }}
	mapping[{{ .ResourceName | quote }}] = mapper {
		FetchFunc: p.{{ .FetchFuncName }},
		IdField: {{ .IDField.Name | quote }},
		IsGlobal: {{ .Global }},
		{{- if (not .TagField.Zero) }}
		TagField: resourceconverter.TagField{
			Name: {{ .TagField.Field.Last.Name | quote }},
			Key: {{ .TagField.Key | quote }},
			Value: {{ .TagField.Value | quote }},
		},
		{{- end }}
	}
	{{- end }}
}
