func (p *Provider) register_{{.Service}}(mapping map[string]mapper) {
    {{- $svc := .Service }}
    {{- range .Types }}
    mapping[{{ .Name | quote }}] = mapper{
        FetchFunc: p.{{ .FuncName }},
        IdField: {{ .ID | quote }},
        IsGlobal: {{ .Global }},
        {{- if (not .Tags.IsZero) }}
        TagField: resourceconverter.TagField{
            Name: {{ .Tags.Field | quote }},
            Key: {{ .Tags.Key | quote }},
            Value: {{ .Tags.Value | quote }},
        },
        {{ end }}
    }
    {{- end }}
}
