{
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "tabWidth": 4,
  "printWidth": 120
}
